<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Carga de archivos</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div id="filedrop" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="fileDrop">
                    <i class="material-icons">open_with</i>
                    <span>Arrastra tus archivos hasta aquí</span>
                </div>
                <div id="txtupload">
                    <span>O puedes usa este botón</span>
                    <label for="btnuploader" class="mdl-button mdl-js-button mdl-button--raised">
                        Subir archivos
                        <input id="btnuploader" type="file" ng2FileSelect [uploader]="uploader" multiple accept=".xml"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="margin-bottom: 40px">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Lista de archivos: {{ uploader?.queue?.length }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                            <th>Tamaño</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td class="mdl-data-table__cell--non-numeric"><strong>{{ item?.file?.name | truncate : 15  }}</strong></td>
                            <td>{{ item?.file?.size/1024/1024 | number:'.1-2' }} MB</td>
                            <td class="text-center">
                                <sk-three-bounce *ngIf="item.isUploading"></sk-three-bounce>
                                <i title="No se ha subido" class="material-icons" *ngIf="!item.isUploading && !item.isReady && !item.isSuccess">cloud_queue</i>
                                <span id="itemsuccess" *ngIf="item.isSuccess" title="Se ha subido correctamente"><i class="material-icons">cloud_done</i></span>
                                <span *ngIf="item.isCancel" title="Se ha cancelado por el usuario"><i class="material-icons">block</i></span>
                                <span *ngIf="item.isError" title="Ocurrió un error, vuelva a intentar"><i class="material-icons">error</i></span>
                            </td>
                            <td>
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <i title="Subir archivo" class="material-icons">cloud_upload</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon" (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <i title="Cancelar proceso" class="material-icons">cloud_off</i>
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--icon" (click)="item.remove()">
                                    <i title="Borrar archivo de la lista" class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h6>Opciones masivas</h6>

                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <i title="Subir archivo" class="material-icons">cloud_upload</i> Subir todo
                </button>
                <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <i title="Cancelar proceso" class="material-icons">cloud_off</i> Cancelar todo
                </button>
                <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <i title="Borrar archivo de la lista" class="material-icons">close</i> Borrar todo
                </button>
                <button (click)="verdatos()">ver</button>
            </div>
        </div>
    </div>
</div>